<!DOCTYPE html>
<html style="background:  rgba(168, 208, 230, 0.66)">

<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='Css/stylesheet.css') }}">
	<div class="div2">
		<svg width="1440px" height="82px">
			
		  <rect class="mainh" width="1440px" height="62px"/>
 			
		


	</div>
	<div class="div1">		
	<svg width="1440px" height="82px">
<rect class="sign" width="100" height="42px"/>
</svg>
 
	</div>
	<div class="div3">		
		<p>Sign In</p>
	</div>


<svg height="210" width="500">
  <polygon class="tri" points="200,10 250,190 160,210"/>
</svg>
</head>




	<title>Personal Fitness AI</title>

<body>
	
<div class="main1">

	<img class="logo1" 	src="{{ url_for('static', filename='Css/logo.png') }}" style="position: absolute;
width: 300px;
height: 150px;
left: -10px;
top: -258px;
">
	<img class="mail" 	src="{{ url_for('static', filename='Css/m.png') }}" style="position: absolute;
width: 51px;
height: 51px;
left: 1219px;
top: -207px;
">
	<img class="search" src="{{ url_for('static', filename='Css/s.png') }}" style="position: absolute;
width: 45px;
height: 48px;
left: 1290px;
top: -205px;">
	<img class="back1" 	src="{{ url_for('static', filename='Css/fit.png') }}"style="position: absolute;
width: 1370px;
height: 909px;
left: 0px;
top: -152px;">
	



<div class="main1">
	<img class="maint" 	src="{{ url_for('static', filename='Css/mood.png') }}" style="
position: absolute;
width: 723px;
height: 723px;
left: 320px;
top: -213px;



">
<form action="{{ url_for('get_mood')}}" method="post" enctype="multipart/form-data">
<a href="input.html">
<div class="main1">
	
		<button name="mood" type="submit" value="2">
	<img class="neu" 	src="{{ url_for('static', filename='Css/fac1.png') }}" style="position: absolute;
width: 381px;
height: 381px;
left: 500px;
top: 240px;
">
</button>

</div>
<div class="main1">
	<button name="mood" type="submit" value="3">
	<img class="happy" 	src="{{ url_for('static', filename='Css/fac2.png') }}" style="position: absolute;
width: 381px;
height: 381px;
left: 100px;
top: 240px;
">
</button>

</div>
<div class="main1">
	<button name="mood" type="submit" value="1">
	<img class="sad" 	src="{{ url_for('static', filename='Css/fac3.png') }}" style="position: absolute;
width: 381px;
height: 381px;
left: 900px;
top: 240px;
">
</button>


</div>
</form>
</a>

<svg width="1440px" height="352px" >
			
		  <rect  width="1440px" height="42px"style="
		  visibility: hidden;
  bottom: 0px;
  border: 3px 
  width: 1440px;
stroke-width:3;
stroke:rgb(0,0,0)
height:20px;

fill: rgba(250, 241, 194, 0.93);"/>
 			
</svg>


</body>
<footer id="mainfoot" style=" text-align: center;
		 background-color: rgba(250, 241, 194, 0.93);
		 color:white;
		 padding:10px; margin-top: 400px "><img src="{{ url_for('static', filename='Css/logo.png') }}" style="width: 20%"></footer>
</html>